  <div class="footer c-main-wrapper">
    <div class="c-container">
      <div class="w-row c-row">
        <div class="w-col w-col-3 c-col">
          <ul class="w-list-unstyled">
            <li class="c-footer-item">
              <h4 class="c-footer-heading">Company</h4>
            </li>
              <li class="c-footer-item"><a class="c-footer-link" href="{% url '/about/index.html' %}" title="About">About</a></li>
              <li class="c-footer-item"><a class="c-footer-link" href="{% url '/about/team.html' %}" title="Team">Team</a></li>
              <li class="c-footer-item"><a class="c-footer-link" href="{% url '/jobs.html' %}" title="Jobs">Jobs</a></li>
              <li class="c-footer-item"><a class="c-footer-link" href="{% url '/blog.html' %}" title="Blog">Blog</a></li>
              <li class="c-footer-item"><a class="c-footer-link" href="{% url '/events.html' %}" title="Events">Events</a></li>
              <li class="c-footer-item"><a class="c-footer-link" href="{% url '/about/contact.html' %}" title="Contact">Contact</a></li>
          </ul>
        </div>
        <div class="w-col w-col-3 c-col">
          <ul class="w-list-unstyled">
            <li class="c-footer-item">
              <h4 class="c-footer-heading">Open Source</h4>
            </li>
              <li class="c-footer-item"><a class="c-footer-link" href="{% url '/community.html' %}" title="Community">Community</a></li>
              <li class="c-footer-item"><a class="c-footer-link" href="{% url '/community/contribute.html' %}" title="Contribute">Contribute</a></li>
              <li class="c-footer-item"><a class="c-footer-link" target="_blank" href="https://github.com/crate" title="Github">Github</a></li>
            <li class="c-footer-item">
              <h4 class="c-footer-heading">Enterprise</h4>
            </li>
            <li class="c-footer-item"><a class="c-footer-link" href="{% url '/download/pricing.html' %}" title="Pricing">Pricing</a></li>
          </ul>
        </div>
        <div class="w-col w-col-3 c-col">
          <ul class="w-list-unstyled">
            <li class="c-footer-item">
              <h4 class="c-footer-heading">Legal</h4>
            </li>
              <li class="c-footer-item"><a class="c-footer-link" href="{% url '/legal/trademarks.html' %}" title="Trademark">Trademark Guidelines</a></li>
              <li class="c-footer-item"><a class="c-footer-link" href="{% url '/legal/privacy.html' %}" title="Privacy Policy">Privacy Policy</a></li>
              <li class="c-footer-item"><a class="c-footer-link" href="{% url '/legal/terms-of-service.html' %}" title="Terms of Service">Terms of Service</a></li>
              <li class="c-footer-item"><a class="c-footer-link" href="{% url '/legal/license.html' %}" title="License">License</a></li>
              <li class="c-footer-item"><a class="c-footer-link" href="{% url '/legal/notice.html' %}" title="Notice">Notice</a></li>
              <li class="c-footer-item"><a class="c-footer-link" href="{% url '/legal/imprint.html' %}" title="Imprint">Imprint</a></li>
          </ul>
        </div>
        <div class="w-col w-col-3 c-col">
          <ul class="w-list-unstyled">
            <li class="c-footer-item">
              <h4 class="c-footer-heading">Connect</h4>
            </li>
            <li class="c-footer-item"><a class="c-footer-link" href="#">Twitter</a>
            </li>
            <li class="c-footer-item"><a class="c-footer-link" href="#">Facebook</a>
            </li>
            <li class="c-footer-item"><a class="c-footer-link" href="#">Google+</a>
            </li>
            <li class="c-footer-item"><a class="c-footer-link" href="#">LinkedIn</a>
            </li>
            <li class="c-footer-item"><a class="c-footer-link" href="#">Youtube</a>
            </li>
            <li class="c-footer-item"><a class="c-footer-link" href="#">Newsletter</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="c-footer-copyright">© 2013-2015 CRATE Technology GmbH</div>
  </div>


  <!-- footer class="footer">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-xs-12 col-md-6 col-lg-4">
            <p class="h4">Connect</p>
            <div class="">
              <table style="width:100%;">
                <tr>
                  <td><a rel="nofollow" href="https://twitter.com/CrateIO"><i class="fa fa-twitter"></i> Twitter</a></td>
                  <td><a rel="nofollow" href="https://fb.me/cratedata"><i class="fa fa-facebook"></i> Facebook</a></td>
                  <td><a rel="nofollow" href="https://plus.google.com/105774977111118486356/"><i class="fa fa-google"></i> Google+</a></td>
                </tr>
                <tr>
                  <td><a rel="nofollow" href="https://www.linkedin.com/company/crate-technology-gmbh"><i class="fa fa-linkedin"></i> LinkedIn</a></td>
                  <td><a rel="nofollow" href="https://www.youtube.com/user/CrateIO"><i class="fa fa-youtube"></i> YouTube</a></td>
                  <td></td>
                </tr>
              </table>
            </div>
            <p>&nbsp;</p>
            <p class="h4">Newsletter</p>
            <div class="">
              {% include "mailchimp-simple.html" %}
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <p class="small text-center text-muted">&copy; 2013-{% now "Y" %} CRATE Technology GmbH</p>
          </div>
        </div>
      </div>
</footer>
