body {
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
  color: black;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
}
h1 {
  margin-top: 0px;
  margin-bottom: 24px;
  font-family: Blenderpro, sans-serif;
  color: black;
  font-size: 56px;
  line-height: 56px;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
}
h2 {
  margin-top: 16px;
  margin-bottom: 16px;
  font-family: Blenderpro, sans-serif;
  font-size: 32px;
  line-height: 38px;
  font-weight: 800;
  text-transform: uppercase;
}
h3 {
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
}
h4 {
  margin-top: 0px;
  margin-bottom: 0px;
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
}
h5 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 14px;
  line-height: 20px;
  font-weight: 700;
}
h6 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  line-height: 18px;
  font-weight: 700;
}
p {
  margin-bottom: 16px;
}
.button {
  position: relative;
  display: block;
  max-width: 400px;
  margin-right: auto;
  margin-bottom: 8px;
  margin-left: auto;
  padding-top: 16px;
  padding-bottom: 16px;
  background-color: black;
  -webkit-transition: background-color 250ms ease, color 250ms ease;
  transition: background-color 250ms ease, color 250ms ease;
  color: white;
  text-align: center;
  text-decoration: none;
}
.button:hover {
  background-color: #303030;
}
.button:active {
  background-color: black;
}
.c-navbar {
  height: 76px;
  background-color: transparent;
}
.c-nav-link {
  position: static;
  display: block;
  margin-left: 8px;
  padding: 4px 8px;
  float: left;
  -webkit-transition-delay: initial;
  transition-delay: initial;
  color: black;
  text-decoration: none;
}
.c-nav-link:hover {
  opacity: 0.5;
}
.c-nav-link:active {
  opacity: 1;
}
.c-nav-menu {
  margin-top: 24px;
}
.c-container {
  margin-right: 0px;
  margin-left: 0px;
  padding: 24px 91px;
}
.c-container.border {
  border-right: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
}
.c-container.c-container-no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}
.c-container.c-container-nav {
  padding-top: 0px;
  padding-bottom: 0px;
}
.c-container.c-container-subnav {
  padding-top: 8px;
  padding-bottom: 8px;
}
.c-main-wrapper {
  max-width: 1110px;
  margin-right: auto;
  margin-left: auto;
}
.c-main-wrapper.c-main-container-content {
  padding-top: 25px;
  padding-bottom: 25px;
  border-right: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
}
.footer {
  margin-bottom: 60px;
  border-top: 1px solid #e7e7e7;
  font-size: 16px;
  line-height: 16px;
}
.c-footer-link {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 4px;
  -webkit-transition-delay: initial;
  transition-delay: initial;
  color: black;
  line-height: 22px;
  text-decoration: none;
}
.c-footer-link:hover {
  color: #7d7d7d;
  text-decoration: none;
}
.c-footer-link:active {
  background-color: transparent;
  color: black;
}
.c-footer-copyright {
  margin-top: 60px;
  text-align: center;
}
.c-nav-item {
  display: inline-block;
  margin-left: 8px;
  float: left;
}
.c-menu-container {
  max-width: 9999px;
}
.c-brand {
  margin-top: 20px;
}
.c-brand.w--current {
  margin-top: 22px;
}
.c-footer-heading {
  margin-top: 24px;
  font-size: 16px;
}
.c-footer-item {
  text-align: left;
}
.c-col {
  padding-right: 16px;
  padding-left: 16px;
}
.c-row {
  margin-right: -16px;
  margin-left: -16px;
}
.c-subhead {
  font-size: 24px;
  line-height: 30px;
}
.bg-lightblue {
  background-color: #55d4f5;
}
.bg-lightgrey {
  background-color: #e7e7e7;
}
.c-subnav-link {
  text-decoration: none;
}
.c-subnav-link:hover {
  opacity: 0.5;
}
.c-subnav-link:active {
  opacity: 1;
}
.c-subnav-link.current {
  font-weight: 700;
}
.c-subnav-item {
  display: inline-block;
  margin-top: 4px;
  margin-right: 8px;
  margin-bottom: 4px;
}
.color-black {
  color: black;
}
.color-white {
  color: white;
}
.c-vertical-center {
  position: relative;
  top: 50%;
  -webkit-transform: translate(0px, -50%);
  -ms-transform: translate(0px, -50%);
  transform: translate(0px, -50%);
}
.c-footer-col-item {
  display: block;
  width: 25%;
  padding-right: 16px;
  padding-left: 16px;
  float: left;
}
.c-sidenav-link {
  text-decoration: none;
}
@media (max-width: 991px) {
  h1 {
    font-size: 56px;
    line-height: 56px;
  }
  .c-container {
    margin-right: 0px;
    margin-left: 0px;
    padding-right: 16px;
    padding-left: 16px;
  }
  .c-main-wrapper {
    padding-right: 0px;
    padding-left: 0px;
  }
  .c-main-wrapper.c-main-container-content {
    width: 100%;
    border-right-style: none;
    border-right-width: 0px;
    border-left-style: none;
    border-left-width: 0px;
  }
  .c-menu-container {
    max-width: 100%;
  }
  .c-footer-col-item {
    display: block;
  }
}
@media (max-width: 767px) {
  h1 {
    font-size: 44px;
    line-height: 44px;
  }
  .button {
    padding-top: 8px;
    padding-bottom: 8px;
  }
  .c-nav-link {
    margin-left: 0px;
    padding: 20px 16px;
    float: none;
    -webkit-transition-property: background-color;
    transition-property: background-color;
  }
  .c-nav-link:hover {
    opacity: 0.5;
  }
  .c-nav-link:active {
    opacity: 1;
  }
  .c-menu-button {
    height: 76px;
    padding-top: 22px;
  }
  .c-menu-button.w--open {
    background-color: white;
    color: black;
  }
  .c-menu-icon {
    font-size: 32px;
  }
  .c-nav-menu {
    margin-top: 0px;
    background-color: #55d4f5;
  }
  .c-container.nav {
    padding-right: 0px;
    padding-left: 0px;
  }
  .c-container.c-container-nav {
    padding-right: 0px;
    padding-left: 0px;
  }
  .c-nav-item {
    width: 100%;
    margin-left: 0px;
    float: none;
  }
  .c-menu-container {
    margin-top: 0px;
    padding-left: 16px;
  }
  .c-brand {
    padding-left: 0px;
  }
  .c-brand.w--current {
    margin-top: 20px;
  }
  .c-footer-col-item {
    width: 25%;
  }
}
@media (max-width: 479px) {
  .button {
    width: 100%;
  }
  .color-black {
    -webkit-transition: none 0ms ease;
    transition: none 0ms ease;
  }
  .c-footer-col-item {
    width: 50%;
  }
}

@font-face {
  font-family: 'Blenderpro';
  src: url('../fonts/BlenderPro-BoldWeb.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: 'Blenderpro';
  src: url('../fonts/BlenderPro-ThinWeb.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}